body
  +light

.container
  width: 1170px
  margin: auto

@media (max-width: 1200px)
  .container
    max-width: 960px
    width: 95%

@media (max-width: 768px)
  .container
    max-width: 720px
    width: 95%

.button
  border-radius: 10px
  background-color: $main-color
  padding: 18px 28px
  text-decoration: none
  color: $text-color
  +bold
  &:hover
    background-color: lighten($main-color, 10%)

.input
  border-radius: 10px
  border: 1px solid $input-border
  color: $input-color
  background-color: $input-background