.first
  padding-top: 40px
  padding-bottom: 25px
  background-color: $section-color
  color: $text-color
  box-sizing: border-box
  &-block
    display: flex 
    align-items: center
    @media (max-width: 1200px)
        max-width: 960px
        width: 96%
    @media (max-width: 768px)
        max-width: 720px
        width: 96%
        flex-direction: column
        margin-left: 30px
        margin-right: 30px
  &-text
    flex-basis: 50%
    padding-bottom: 40px
    padding-right: 70px
    &__title
      margin-top: 0
      display: block
      font-size: 41px
      +bold
      line-height: 55px
      letter-spacing: -1px
    &__subtitle
      display: block
      margin-bottom: 60px
      font-size: 20px
      +bold
      letter-spacing: -0.3px
  &-list
    display: block
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    &__image
      width: 40px
      height: 40px
      border: 2px solid $main-color
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      margin-right: 30px
    &__text 
      max-width: 300px
      font-size: 14px
      line-height: 24px
      @media (max-width: 1200px)
        max-width: 150px
      @media (max-width: 768px)
        max-width: 300px
  &-image
    box-shadow: rgba(0, 0, 0, 0.05)
    margin-right: -40px
