@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/");
  src: url("../fonts/MuseoSansCyrl/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 18px 28px;
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  color: #999999;
  background-color: #ffffff;
}

.input:focus-within {
  border: 1px solid orange;
}

.section-title {
  padding-top: 100px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.slider__image {
  margin: auto;
}

.header {
  padding: 8px 0;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  font-size: 13px;
  color: #333333;
}

.header__button {
  margin-left: 30px;
  color: #333333;
  font-size: 13px;
}

.header__phone {
  margin-top: 0;
  padding-top: 0;
  margin-top: 6px;
  font-size: 19px;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.first {
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #f5f5f5;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .first-block {
    max-width: 960px;
    width: 96%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .first-block {
    max-width: 720px;
    width: 96%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.first-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-bottom: 40px;
  padding-right: 70px;
}

.first-text__title {
  margin-top: 0;
  display: block;
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1px;
}

.first-text__subtitle {
  display: block;
  margin-bottom: 60px;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.first-list {
  display: block;
  margin: 0;
  padding: 0;
}

.first-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.first-list__item:last-child {
  margin-bottom: 0;
}

.first-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.first-list__text {
  max-width: 300px;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .first-list__text {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .first-list__text {
    max-width: 500px;
  }
}

.first-image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05);
          box-shadow: rgba(0, 0, 0, 0.05);
  margin-right: -40px;
}

.second {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 90px;
  color: #333333;
  background: url("../img/second/Kitchen.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.second:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.second-block {
  position: relative;
  padding-right: 50px;
}

.second__title {
  padding-top: 0;
  max-width: 360px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.second__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 24px;
  font-size: 16px;
}

.second__form {
  padding-right: 90px;
}

.second__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second__input {
  display: block;
  max-width: 240px;
  padding: 18px 26px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
}

.second__input:first-child {
  margin-right: 10px;
}

.second__button {
  margin-top: 15px;
  width: 100%;
  max-width: 495px;
  min-height: 70px;
  font-size: 15px;
  line-height: 18px;
  border: none;
}

.second__description {
  width: 45%;
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__left-side {
  max-width: 50%;
}

.second__text {
  font-size: 15px;
  line-height: 24px;
}

.second__phone {
  padding-top: 0;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .second {
    background-size: cover;
  }
  .second__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second__input {
    width: 85%;
    margin-bottom: 10px;
  }
  .second__button {
    width: 80%;
    max-width: 290px;
    font-size: 13px;
  }
  .second__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .second__left-side {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .second {
    background: none;
    background-color: #fff;
  }
  .second-block {
    width: 100%;
    padding-right: 0;
  }
  .second__title {
    max-width: 100%;
    margin-bottom: 24px;
    font-size: 24px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    line-height: 35px;
  }
  .second__subtitle {
    display: block;
    max-width: 100%;
    margin-bottom: 24px;
    font-size: 16px;
  }
  .second__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second__input {
    max-width: 750px;
    width: 90%;
    margin-bottom: 10px;
  }
  .second__button {
    width: 100%;
    max-width: 700px;
    font-size: 13px;
  }
  .second__left-side {
    max-width: 100%;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.button-up {
  right: 0;
  margin: 0;
  position: fixed;
  bottom: 50px;
  width: 52px;
  cursor: pointer;
}

.third {
  background: #f5f5f5 url("../img/third/pattern.jpg") repeat-y center left;
  padding-bottom: 90px;
}

.third__title {
  margin: auto;
  max-width: 600px;
  margin-bottom: 100px;
}

.third__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourth__title {
  margin: auto;
  margin-bottom: 58px;
  max-width: 550px;
}

.fourth__subtitle {
  margin: 0 auto;
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.fourth__card {
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e8e8e8;
  text-align: center;
  padding-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__image {
  position: relative;
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 63%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #000000;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fifth {
  padding-bottom: 90px;
}

.fifth__title {
  margin: auto;
  max-width: 680px;
}

.fifth__subtitle {
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 58px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.fifth__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.fifth__item {
  position: relative;
}

.fifth__item:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/fifth/arrow.png") no-repeat center;
  top: -10px;
  right: -80px;
}

.fifth__item:last-child:after {
  display: none;
}

.fifth__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  margin-bottom: 30px;
}

.fifth__text {
  display: block;
  max-width: 160px;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .fifth__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fifth__item {
    margin-bottom: 30px;
  }
  .fifth__item:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .fifth__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifth__item {
    margin-bottom: 30px;
  }
}

.sixth {
  color: #000000;
  padding-top: 100px;
  background-image: url("../img/sixth/sixth-color-bg.jpg"), url("../img/sixth/sixth-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.sixth__title {
  padding-bottom: 0;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.sixth__subtitle {
  margin-top: 0;
  padding-top: 0;
  font-size: 16px;
  line-height: 45px;
}

.sixth__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sixth__questions {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 535px;
}

.sixth__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.sixth__input {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 370px;
  padding: 18px 26px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 24px;
}

.sixth__button {
  display: block;
  margin: auto;
  width: 100%;
  height: 70px;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 33px;
  border: none;
  outline: none;
}

.sixth__description {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.questions-list {
  list-style: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  padding: 0;
}

.questions-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  margin-right: 30px;
}

.questions-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  line-height: 35px;
}

.questions-list__text {
  font-size: 18px;
  max-width: 400px;
}

.form-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 200px;
}

@media (max-width: 1200px) {
  .sixth {
    background-image: url("../img/sixth/sixth-color-bg.jpg"), url("../img/sixth/sixth-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .sixth__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sixth__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .sixth__subtitle {
    margin-bottom: 30px;
  }
  .questions {
    padding-right: 30px;
  }
  .questions-list__counter {
    margin-right: 20px;
  }
  .questions-list__text {
    font-size: 14px;
  }
  .form-box {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .sixth {
    background-image: url("../img/sixth/sixth-color-bg.jpg"), url("../img/sixth/sixth-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .sixth__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions {
    text-align: left;
  }
  .form-box {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */